p { font-family: monospace; margin: 1lh 0; }
ul { font-family: monospace; margin: 1lh 0; padding-left: 1lh;}

t2-indent {
  display: block;
  margin-left: 1rem;
}

t2-indent-1 {
  display: block;
  margin-left: 1ch;
}
